<article class="post">
  <div class="title">
    {{title}}
  </div>
  <div class="meta">
    {{post_content}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}"></a>
  </div>
</article>